.google{
    text-align: center;
    border-style: hidden;
    border-width: 1px;
    width: 400px;
    height: 240px;
    margin-left: 450px;
    padding-top: 70px;
    padding-right: 100px;
}
.info{
    width: 600px;
    height: 30px;
    border-radius: 18px;
    text-align: left;
    margin-left: 400px;
    border-color: gray;
    box-shadow: 2px 2px gray;
    border-style: hidden;

     
  }
.pic{
    width: 30px;
    height: 20px;
    float: right;
   }