.every{
    background-image: url(./images/messiproject.jpg);
    background-repeat: no-repeat;
    width: 660px;
    height: 400px;
    background-color: aquamarine;
    background-size: cover;
    






}
.messi{
    height: 350px;
    width: 200px;
    margin-left: 12px;
    margin-top: 20px;








}